@require "../../style/base.styl"

.photographer.inverse
  z-index -1
  clip-path polygon(-54.39% 48.77%, 72.56% -8.18%, 129.27% 116.55%)
  +desktop()
    clip-path polygon(-4.39% 48.77%, 72.56% 11.82%, 99.27% 116.55%)

