@require '../../style/base.styl';

.gallery
  display grid
  grid-template-rows 60vh 1fr
  align-items center
  justify-items center
  grid-gap 1em

.gallery__active
  width: 100%
  height 100%

  +desktop()
    min-height 60vh

.gallery__list
  display flex
  flex-flow row wrap
  margin 1em
  max-width 90vw
  max-height calc(40vh - 2em)
  overflow-y auto
  justify-content center

  +desktop()
    max-width 1400px

.gallery__list-button
  background none
  border none
  margin 0 0 1em

.gallery__list-image
  height 100%
  display block
  cursor pointer
  transition opacity .2s ease

  & + .gallery__list-image
    margin-left 1em

  &:hover
    opacity .9

.inverse .gallery
  display none

